# Object files
*.o
*.ko
*.obj
*.elf
*.d

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su

# LOG files
*.log

.metadata
RemoteSystemsTempFiles/

fileSystem/mnt/FS_SADICA/metadata/bitmap.bin
fileSystem/mnt/FS_SADICA/files/*
fileSystem/mnt/FS_SADICA/blocks/*.bin
cpu/Debug/cpu
